page-profile {
    ion-content{
        background-color:lightgrey !important;
        font-size: 1.6rem !important;
    }
    
    .societyLogo{
        z-index:1 !important;
        position:absolute;
        width:auto;
        max-width:250px;
        margin: auto;
        margin-top: -20%;
        right: 0;
        left: 0;
    }

    .scroll-content{
        display: flex;
        align-items: center;
    }

    h2, h3{
        line-height: 2.5rem;
    }

    ion-card-content{
        margin: 30px 0;
        text-align: center;
    }
}