<ion-header>

  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchbarOpened">
      Annonces
    </ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" (ionInput)="search($event)" placeholder="Recherche ..."></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Tirez pour actualiser"
      refreshingText="Actualisation">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isSearchbarOpened">
    <h5 *ngIf="(productsList | async)?.length>1">{{(productsList | async)?.length}} résultats :</h5>
    <h5 *ngIf="(productsList | async)?.length==1">1 résultat :</h5>
    <h5 *ngIf="(productsList | async)?.length==0">Aucun résultat</h5>
  </div>
  <h4 *ngIf="!isSearchbarOpened">Dernières annonces :</h4>
  <ion-card class="card" *ngFor="let product of productsList | async" detail-push [navPush]="productPage" [navParams]="{product: product}">
    <ion-card-content class="cardContent">
      <div class="polaroid">
        <img src="https://firebasestorage.googleapis.com/v0/b/bdd-retro.appspot.com/o/product%2F{{product.key}}%2Fimg1?alt=media">
        <div class="labelPrice">
          <p>{{product.price}}€</p>
        </div>
      </div>
      <div class="descriptif">
        <h2 class="name">{{product.name}}</h2>
        <p class="society">{{product.society}}</p>
        <p class="location">{{product.location}}</p>
        <p class="dateTime">{{product.publicationDate}}</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-fab right bottom class="addButton">
    <button ion-fab color="vprimary" navPush="AddProductPage"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
