<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <img src="assets/imgs/rouge.JPG" alt="logo">
      <ion-title>V-Rétrocède</ion-title>
      <p>Les vraies réussites sont celles que l'on partage</p>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <img src="{{p.icon}}"/>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list class="bottom">
      <button menuClose ion-item *ngFor="let u of user" (click)="openPage(u)">
        <img src="{{u.icon}}"/>
        {{u.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>